<h3>Create Purchase</h3>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4" >
    <div [hidden]="submitted" style="width: 400px;">
      <form [formGroup]="purchasesaveform" #savepurchase (ngSubmit)="savePurchase(savePurchase)">
          <div class="form-group">
              <label for="name">Purchase Name</label>
              <input type="text" class="form-control"  formControlName="purchase_name" data-toggle="tooltip"
                 data-placement="right" title="Enter Purchase Name" >
              <div class="alert alert-danger" *ngIf = "(PurchaseName.touched) && (PurchaseName.invalid)"
                style="margin-top: 5px;">
                  <span *ngIf="PurchaseName.errors.required">Purchase Name is Required</span>
                    <span *ngIf = "PurchaseName.errors.minlength">
                        MinLength Error
                    </span>
                </div>
          </div>

          <div class="form-group">
              <label for="name">Purchase Email</label>
              <input type="text" class="form-control" formControlName="purchase_email"
                data-toggle="tooltip" data-placement="right" title="Enter Purchase Email">
                <div class="alert alert-danger" *ngIf = "(PurchaseEmail.touched) && (PurchaseEmail.invalid)"
                style="margin-top: 5px;">
                  <span *ngIf="PurchaseEmail.errors.required">Purchase Email is Required</span>
                    <span *ngIf = "PurchaseEmail.errors.email">
                        Invalid Email Format
                    </span>
                </div>
          </div>

          <div class="form-group">
              <label for="branch">Purchase Branch</label>
                <select class="form-control" formControlName="purchase_branch" data-toggle="tooltip"
                      data-placement="right" title="Select Purchase Branch">
                    <option value="null">--Select Branch--</option>
                  <option value="online">Online</option>
                  <option value="york">York</option>
                  <option value="Bos">Bos</option>
                  <option value="Tol">Tol</option>
                </select>
          </div>

          <button type="submit" class="btn btn-success">Submit</button>
      </form>
  </div>
  </div>
  <div class="col-sm-4"></div>
</div>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
      <div [hidden]="!submitted">
         <h4>Purchase Added SuccessFully!</h4>
         <button (click)="addPurchaseForm()" class='btn btn-primary'>Add More Purchase</button>
      </div>
  </div>
  <div class="col-sm-4"></div>
</div>


