    <div  class="container-fluid">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
          <li class="nav-item ">
            <a routerLink="view-purchase" class="nav-link" class="btn btn-primary active" role="button" >View Purchase</a>
          </li>&nbsp;
          <li class="nav-item">
            <a  routerLink="add-purchase" class="nav-link" class="btn btn-primary active" role="button" >Add Purchase</a>
          </li>
        </ul>
      </nav>
        <router-outlet></router-outlet>
    </div>
